.container.main-container
	.row
		.col-sm-2.left-nav
			%ul#sidebar.nav.nav-stacked.affix
				%li
					%a{:href => "#"} The Next Web
				%li
					%a{:href => "#"} Mashable
				%li
					%a{:href => "#"} TechCrunch
				%li
					%a{:href => "#"} GitHub
				%li
					%a{:href => "#"} In1
				%li
					%a{:href => "#"} TechMeMe
		#main-content.col-sm-3

-content_for :footer do
	:coffeescript
		$ ->
			CEApp.start()
			new helpers.DragHelper().drag('.js-draggable-header').to_move('.modal-dialog')
			# TODO: refactor
			socket = io.connect('192.168.1.106:5001')