.container.main-container
	.row
		.col-sm-2.left-nav
			%ul#sidebar.nav.nav-stacked.affix
				%li
					%a{:href => "#"} The Next Web
				%li
					%a{:href => "#"} Mashable
				%li
					%a{:href => "#"} TechCrunch
				%li
					%a{:href => "#"} GitHub
				%li
					%a{:href => "#"} In1
				%li
					%a{:href => "#"} TechMeMe
		#main-content.col-sm-3
			/ .modal-dialog
			/ 	.modal-content
			/ 		.modal-header
			/ 			.bootstrap-dialog-header
			/ 				.bootstrap-dialog-close-button{:style => "display: block;"}
			/ 					%button.close ×
			/ 				.bootstrap-dialog-title Information
			/ 		.modal-body
			/ 			.bootstrap-dialog-body
			/ 				.bootstrap-dialog-message Hi Apple!
			/ 		.modal-footer
			/ 			.bootstrap-dialog-footer
			/ 				.bootstrap-dialog-footer-buttons
			/ 					%button.btn.btn-default Button 1
			/ 					%button.btn.btn-primary Button 2
			/ 					%button.btn.btn-warning
			/ 						%span.bootstrap-dialog-button-icon.glyphicon.glyphicon-ban-circle>
			/ 						Button 3
			/ 					%button.btn.btn-default Close
-content_for :footer do
	:coffeescript
		$ ->
			CEApp.start()
			new helpers.dragHelper().initialize('.modal-dialog')